numpy==1.26.4
pandas==2.2.2
regex==2024.5.15
scikit-learn==1.5.0
joblib==1.4.2
streamlit==1.36.0
spacy[cuda-none]==3.7.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
